#sprite-editor-scene {
    display: grid;
    height: 100%;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 20px;
    padding-right: 20px;
}

#sprite-editor-scene > #palette {
    /* row start, col start, row end, col end */
    grid-area: 1 / 1 / 2 / 2 ;
    align-self: center;
}

#sprite-editor-scene > #tool-box {
    /* row start, col start, row end, col end */
    grid-area: 2 / 1 / 4 / 2;
    align-self: flex-start;
}

#sprite-editor-scene > #sprite-editor {
    /* row start, col start, row end, col end */
    grid-area: 1 / 2 / 4 / 3;
    align-self: center;
    justify-self: center;
}

#sprite-editor-scene > #mod-box {
    /* row start, col start, row end, col end */
    grid-area: 2 / 3 / 2 / 4;
    align-self: center;
    justify-self: right;
}

#sprite-editor-scene > #snapshot-manager {
    /* row start, col start, row end, col end */
    grid-area: 1 / 3 / 1 / 4;
    align-self: center;
    justify-self: right;
}