
#tool-box {
    width: var(--toolbox-width);
    height: var(--toolbox-height);
    background-color: var(--toolbox-bg-col);
    border: 1px solid var(--toolbox-border-col);
    padding: var(--toolbox-padding);
    box-shadow: 0 0 4px 4px var(--toolbox-shadow-col);
    display: flex;
    flex-direction: column;
}

#tool-box > .btn {
    padding: 0.6rem;
}

#tool-box > .toggle-button:last-child {
    margin-bottom: 0;
}


#tool-box > #pen-btn.on {
    background-color: rgb(189, 125, 226);
}

#tool-box > #pen-btn:active {

    background-color: rgb(189, 125, 226);
}

#tool-box > #fill-btn.on {
    background-color: rgb(144, 132, 252);
}

#tool-box > #fill-btn:active {
    background-color: rgb(144, 132, 252);
}

#tool-box > #move-btn.on {
    background-color: rgb(52, 136, 247);
}

#tool-box > #move-btn:active {
    background-color: rgb(52, 136, 247);
}

#tool-box > #rect-btn.on {
    background-color: rgb(83, 185, 151);
}

#tool-box > #rect-btn:active {
    background-color: rgb(83, 185, 151);
}

#tool-box > #line-btn.on {
    background-color: rgb(194, 169, 25);
}

#tool-box > #line-btn:active {
    background-color: rgb(194, 169, 25);
}

#tool-box > #oval-btn.on {
    background-color: rgb(194, 87, 25);
}

#tool-box > #oval-btn:active {
    background-color: rgb(194, 87, 25);
}

