#mod-box {
    width: var(--modbox-width);
    height: var(--modbox-height);
    background-color: var(--modbox-bg-col);
    border: 1px solid var(--modbox-border-col);
    padding: var(--modbox-padding);
    box-shadow: 0 0 4px 4px var(--modbox-shadow-col);
    display: flex;
    flex-direction: column;
}

#mod-box > .button:last-child {
    margin-bottom: 0;
}

#mod-box > .btn {
    padding: 0.6rem;
}

#mod-box > #h-mirror-toggle.on, #mod-box > #v-mirror-toggle.on {
    background-color: rgb(83, 185, 151);
}

#mod-box > #h-mirror-toggle:active, #mod-box > #v-mirror-toggle:active {
    background-color: rgba(83, 185, 151, 0.5);

}
